
.examRankListTd_gray {background:#ddd;}
.examRankListTd_lightgray {background:#eee;}
.examRankListTd_white {background:#fff;}
.examRankListTd_red {background:pink;}

.examRankListTd_gray, .examRankListTd_lightgray, .examRankListTd_white, .examRankListTd_red{width:33%;float:left;font-size:.9em;text-align:center;padding-top:.8em;padding-bottom:.8em}
