.km-root .left-btn1
{
    position: absolute;
    z-index: 9999;
    top: 0em;
    left: 0em;
    padding-right: 0;
    padding-left: 0;
    line-height: 2.5em;
    border-radius: 0em;
    -webkit-border-radius: 0em;
    border: 0px solid rgba(255, 255, 255, .8);
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0em 0;
    -webkit-box-shadow: 0 0 .0em 0;
}
body, a, ul, li
{
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none; 
}
.km-android .km-content
{
    color: black;
}
/* 头部背景*/
.km-android .km-view .km-navbar
{
    background: url(../home/images/titlebar.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* 标题可见*/
.km-android .km-view-title
{
    visibility: visible;
}
.km-android .km-navbar [class*=item] .km-text
{
    float: none;
    border: 0;
    border-right: 0px solid rgba(255, 255, 255, 0.4);
    padding: 0 0em;
    padding: 0 0.2rem;
}
.km-android .km-header
{
    box-shadow: 0 0 0, 0 0;
    -webkit-box-shadow: 0 0 0, 0 0 0;
}
#growFooter #growtabstrip
{
    display: table;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#growFooter #growtabstrip .km-button
{
    display: table-cell;
    font-size: .9em;
}

.km-android .km-tabstrip .km-text
{
    font-size: 1em;
    font-weight: normal;
}
.km-android .km-tabstrip .km-icon
{
    position: relative;
    left: 0;
    margin-bottom: 0rem;
    z-index: 2;
    color: #555;
} 
.km-android .km-tabstrip .km-text
{
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 100%;
    height: 0em;
    height: 1.2rem;
    margin-top: 0em;
    margin-top: 0rem;
    border: 0.1em solid transparent;
    border-right: 0px solid #444;
    border-left: 0;
    text-indent: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.km-android .km-tabstrip .km-button
{
    background: #000;
    display: table-cell;
    font-size: .8em;
    padding: 0em 0 0em 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-style: solid;
    border-color: transparent;
    min-width: 5em;
}
.km-android .km-tabstrip .km-button:active, .km-android .km-tabstrip .km-state-active
{
    color: #FFF;
    border-bottom-width: 0em;
    padding-bottom: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
}

.km-android .km-tabstrip .km-button:active, .km-android .km-tabstrip .km-state-active
{
    color: rgb(255, 148, 0);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active
{
    background-color: rgb(0, 0, 0);
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .35)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
    background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
    background-image: -ms-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
    background-repeat: repeat;
    background-position: 0 0;
}

.km-android .km-view .km-tabstrip .km-button {
    background-image: -webkit-gradient(linear,50% 100%,50% 0,color-stop(.67, rgba(255,255,255,.2)),color-stop(.68, rgba(255,255,255,.2)),color-stop(.71, rgba(255,255,255,.35)),color-stop(.73, rgba(255,255,255,.45)),color-stop(.74, rgba(255,255,255,.4)));
    background-image: -moz-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2) 67%,rgba(255,255,255,.2) 68%,rgba(255,255,255,.35) 71%,rgba(255,255,255,.45) 73%,rgba(255,255,255,.4) 74%);
    background-image: -ms-linear-gradient(50% 100%,50% 0,rgba(255,255,255,.2) 67%,rgba(255,255,255,.2) 68%,rgba(255,255,255,.35) 71%,rgba(255,255,255,.45) 73%,rgba(255,255,255,.4) 74%);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon
{
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(204, 204, 204);
}
.km-arrow-e:after,
.km-arrow-e:before
{
    content: "\e086";
}
.km-jianch-e:after,
.km-jianch-e:before
{
    content: "\e0b2";
}
.km-tongjiqy-e:after,
.km-tongjiqy-e:before
{
    content: "\e30a";
}

.menuRow {margin-top:3%;}
.menuItem {width:25%;text-align:center;float:left}
.menuImg {width:80%}
