
.menuRow {margin-top:3%;color:black;font-size:.8em}
.menuItem {width:25%;text-align:center;float:left;}
.menuImg {width:70%}

.overflow_ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
